name: Build and Deploy

on:
  push:
    branches: ['dev']
  workflow_dispatch:

env:
  APP_NAME: ${{ secrets.APP_NAME }}
  CONTAINER_NAME: ${{ secrets.CONTAINER_NAME }}
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/${{ secrets.CONTAINER_NAME }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Set .env
        env:
          PROPERTY_FILE: ${{ secrets.DEV_ENV }}
          PROPERTY_FILE_NAME: .env
        run: echo $PROPERTY_FILE > $PROPERTY_FILE_NAME

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ github.sha }},${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to server
        uses: appleboy/ssh-action@master
        env:
          PACKAGE_ACCESS_TOKEN: ${{ secrets.PACKAGE_ACCESS_TOKEN }}
          IMAGE_NAME: ${{env.IMAGE_NAME}}
          GITHUB_SHA: ${{env.GITHUB_SHA}}
          CONTAINER_NAME: ${{env.CONTAINER_NAME}}
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          port: 22
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo $PACKAGE_ACCESS_TOKEN | docker login ghcr.io -u tjrmswo --password-stdin
            docker pull $IMAGE_NAME:$GITHUB_SHA
            # docker stop $CONTAINER_NAME || true
            # docker rm $CONTAINER_NAME || true
            # docker run -d --name $CONTAINER_NAME -p 3000:3000 --restart unless-stopped $IMAGE_NAME
